nav{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #242424;
}
ul {
    display: flex;
    align-items:end;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    
}:hover{
    color: orange;
}
ul li a img{
    width: 8rem;
    border-radius: 8rem;
}
